<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of pets</title>
</head>
<body>
<h1 th:text="'List of Pets'">List of Pets...</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody th:each="pet:${pets}">
    <td th:text="${pet?.id}">1</td>
    <td th:text="${pet?.firstName}">Elsa</td>
    <td th:text="${pet?.lastName}">Anna</td>
    </tbody>
</table>

</body>
</html>
